<div class="d-flex align-items-center mb-3">
	<span class="iconify fs-30px text-theme" data-icon="solar:cup-star-bold-duotone"></span>
		<div class="flex-1 ps-2 fs-13px fw-bold" data-bs-toggle="modal" data-bs-target="#modalEdit">
			Add Menu
		</div>
        <!-- <button type="button" class="btn btn-outline-theme me-2" data-bs-toggle="modal" data-bs-target="#modalXl">Extra large modal</button> -->
        <!-- <a href="#modalEdit" data-bs-toggle="modal" class="btn btn-success w-100px">Update</a> -->
             
</div>

<!-- <div class="modal fade" id="modalXl">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        ...
      </div>
    </div>
  </div> -->

  <div class="modal fade" id="modalEdit">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Edit name</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
			</div>
			<div class="modal-body">
				<div class="mb-3">
					<label class="form-label">Name</label>
					<div class="row">
						<div class="col-4">
							<input class="form-control" placeholder="First" value="Sean">
						</div>
						<div class="col-4">
							<input class="form-control" placeholder="Middle" value="">
						</div>
						<div class="col-4">
							<input class="form-control" placeholder="Last" value="Ngu">
						</div>
					</div>
				</div>
				<div class="alert bg-body">
					<b>Please note:</b> 
					If you change your name, you can't change it again for 60 days. 
					Don't add any unusual capitalization, punctuation, characters or random words. 
					<a href="#" class="alert-link">Learn more.</a>
				</div>
				<div class="mb-3">
					<label class="form-label">Other Names</label>
					<div>
						<a href="#" class="btn btn-outline-default"><i class="fa fa-plus fa-fw"></i> Add other names</a>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
				<button type="button" class="btn btn-theme">Save changes</button>
			</div>
		</div>
	</div>
</div>