<!-- BEGIN #app -->
<div id="app" class="app" [ngClass]="{
	'd-none': !appLoaded,
	'app-without-header': appSettings.appHeaderNone,
	'app-without-sidebar': appSettings.appSidebarNone,
	'app-with-top-nav': appSettings.appTopNav,
	'app-boxed-layout': appSettings.appBoxedLayout,
	'app-sidebar-minified': appSettings.appSidebarMinified,
	'app-sidebar-mobile-toggled': appSettings.appSidebarMobileToggled,
	'app-content-full-height': appSettings.appContentFullHeight,
	'app-content-full-width': appSettings.appContentFullWidth,
	'app-footer-fixed': appSettings.appFooter
}">

  <header *ngIf="!appSettings.appHeaderNone"></header>
  
  <top-nav *ngIf="appSettings.appTopNav"></top-nav>

  <sidebar *ngIf="!appSettings.appSidebarNone"></sidebar>

  <div id="content" class="app-content" [class]="appSettings.appContentClass">
	<app-toast></app-toast>
    <router-outlet></router-outlet>
  </div>

  <footer *ngIf="appSettings.appFooter"></footer>
  
  <theme-panel
  	(appDarkModeChanged)="onAppDarkModeChanged($event)"
  	(appThemeChanged)="onAppThemeChanged($event)"
  	*ngIf="!appSettings.appThemePanelNone"
  	></theme-panel>
</div>
<!-- END #app -->
