<!-- <div class="row row-cols-1 row-cols-lg-3 row-cols-xl-3 row-cols-xxl-6">

  <mat-card class="text-center rounded-4">
      <mat-card-content>
        <div class="d-flex flex-column gap-3 align-items-center justify-content-between">
          <div class="widget-icon mat-bg-pink text-white">
            <img src="assets/img/restaurant-icons/TaxInfo.jpg" alt="Custom Icon" class="custom-icon">
          </div>
          <div>
            <p class="mb-0">Tax Info</p>
          </div>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="text-center rounded-4">
      <mat-card-content>
        <div class="d-flex flex-column gap-3 align-items-center justify-content-between">
          <div class="widget-icon mat-bg-purple text-white">
            <img src="assets/img/restaurant-icons/Payment-Method.jpg" alt="Custom Icon" class="custom-icon">
          </div>
          <div>
            <p class="mb-0">Payment Methods</p>
          </div>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="text-center rounded-4">
      <mat-card-content>
        <div class="d-flex flex-column gap-3 align-items-center justify-content-between">
          <div class="widget-icon mat-bg-deep-purple text-white">
            <img src="assets/img/restaurant-icons/Discounts.jpg" alt="Custom Icon" class="custom-icon">
          </div>
          <div>
            <p class="mb-0">Discounts</p>
          </div>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="text-center rounded-4">
      <mat-card-content>
        <div class="d-flex flex-column gap-3 align-items-center justify-content-between">
          <div class="widget-icon mat-bg-red text-white">
            <img src="assets/img/restaurant-icons/Ingredient-Standarisation.jpg" alt="Custom Icon" class="custom-icon">
          </div>
          <div>
            <p class="mb-0">Ingredients Standardisation</p>
          </div>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="text-center rounded-4">
      <mat-card-content>
        <div class="d-flex flex-column gap-3 align-items-center justify-content-between">
          <div class="widget-icon mat-bg-blue text-white">
            <img src="assets/img/restaurant-icons/VendorsInfo.jpg" alt="Custom Icon" class="custom-icon">
          </div>
          <div>
            <p class="mb-0">Vendor Info</p>
          </div>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="text-center rounded-4">
      <mat-card-content>
        <div class="d-flex flex-column gap-3 align-items-center justify-content-between">
          <div class="widget-icon mat-bg-light-blue text-white">
            <img src="assets/img/restaurant-icons/inventory.jpg" alt="Custom Icon" class="custom-icon">
          </div>
          <div>
            <p class="mb-0">Inventory</p>
          </div>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="text-center rounded-4">
      <mat-card-content>
        <div class="d-flex flex-column gap-3 align-items-center justify-content-between">
          <div class="widget-icon mat-bg-cyne text-white">
            <img src="assets/img/restaurant-icons/Customer-List.jpg" alt="Custom Icon" class="custom-icon">
          </div>
          <div>
            <p class="mb-0">Customers List</p>
          </div>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="text-center rounded-4">
      <mat-card-content>
        <div class="d-flex flex-column gap-3 align-items-center justify-content-between">
          <div class="widget-icon mat-bg-teal text-white">
            <img src="assets/img/restaurant-icons/Update-Restaurant.jpg" alt="Custom Icon" class="custom-icon">
          </div>
          <div>
            <p class="mb-0">Update Restaurant Info</p>
          </div>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="text-center rounded-4">
      <mat-card-content>
        <div class="d-flex flex-column gap-3 align-items-center justify-content-between">
          <div class="widget-icon mat-bg-orange text-white">
          <img src="assets/img/restaurant-icons/Seating.jpg" alt="Custom Icon" class="custom-icon">
          </div>
          <div>

            <p class="mb-0" style="font-family: cursive;">Seating</p>
          </div>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="text-center rounded-4">
      <mat-card-content>
        <div class="d-flex flex-column gap-3 align-items-center justify-content-between">
          <img src="assets/img/restaurant-icons/Working-Hours.jpg" alt="Custom Icon" class="custom-icon">
          <div>
            <p class="mb-0">Working Days / Hours</p>
          </div>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="text-center rounded-4 h-100">
      <mat-card-content>
        <div class="d-flex flex-column gap-3 align-items-center justify-content-between">
          <img src="assets/img/restaurant-icons/Staff.jpg" alt="Custom Icon" class="custom-icon">
          <p class="mb-0">Staff Management</p>
        </div>
      </mat-card-content>
    </mat-card>

</div> -->


<div class="row justify-content-center futuristic-cards">
  <div class="col-6 col-md-4 col-lg-3 mb-3">
    <a [routerLink]="['/page/menu-items']" class="futuristic-card">
      <div class="futuristic-card-body pb-0">
        <img src="assets/img/restaurant-icons/TaxInfo.jpg" alt="" class="futuristic-card-img-top">
      </div>
      <div class="futuristic-card-body">
        <h5 class="futuristic-card-title">Tax Info</h5>
      </div>
    </a>
  </div>
  <div class="col-6 col-md-4 col-lg-3 mb-3">
    <div class="futuristic-card">
      <div class="futuristic-card-body pb-0">
        <img src="assets/img/restaurant-icons/Payment-Method.jpg" alt="" class="futuristic-card-img-top">
      </div>
      <div class="futuristic-card-body">
        <h5 class="futuristic-card-title">Payment Methods</h5>
      </div>
    </div>
  </div>
  <div class="col-6 col-md-4 col-lg-3 mb-3">
    <div class="futuristic-card">
      <div class="futuristic-card-body pb-0">
        <img src="assets/img/restaurant-icons/Discounts.jpg" alt="" class="futuristic-card-img-top">
      </div>
      <div class="futuristic-card-body">
        <h5 class="futuristic-card-title">Payment Methods</h5>
      </div>
    </div>
  </div>
  <div class="col-6 col-md-4 col-lg-3 mb-3">
    <div class="futuristic-card">
      <div class="futuristic-card-body pb-0">
        <img src="assets/img/restaurant-icons/Ingredient-Standarisation.jpg" alt="" class="futuristic-card-img-top">
      </div>
      <div class="futuristic-card-body">
        <h5 class="futuristic-card-title">Payment Methods</h5>
      </div>
    </div>
  </div>
  <div class="col-6 col-md-4 col-lg-3 mb-3">
  <div class="futuristic-card">
    <div class="futuristic-card-body pb-0">
      <img src="assets/img/restaurant-icons/VendorsInfo.jpg" alt="" class="futuristic-card-img-top">
    </div>
    <div class="futuristic-card-body">
      <h5 class="futuristic-card-title">Payment Methods</h5>
    </div>
  </div>
</div>
  <div class="col-6 col-md-4 col-lg-3 mb-3">
    <card>
      <card-body class="pb-0">
        <img src="assets/img/restaurant-icons/Discounts.jpg" alt="" class="card-img-top">
      </card-body>
      <card-body>
        <h5 class="card-title">Discounts</h5>
      </card-body>
    </card>
  </div>
  <div class="col-6 col-md-4 col-lg-3 mb-3">
    <card>
      <card-body class="pb-0">
        <img src="assets/img/restaurant-icons/Ingredient-Standarisation.jpg" alt="" class="card-img-top">
      </card-body>
      <card-body>
        <h5 class="card-title">Ingredients Standardisation</h5>
      </card-body>
    </card>
  </div>

  <div class="col-6 col-md-4 col-lg-3 mb-3">
    <card>
      <card-body class="pb-0">
        <img src="assets/img/restaurant-icons/VendorsInfo.jpg" alt="" class="card-img-top">
      </card-body>
      <card-body>
        <h5 class="card-title">Vendor Info</h5>
      </card-body>
    </card>
  </div>

  <div class="col-6 col-md-4 col-lg-3 mb-3">
    <card>
      <card-body class="pb-0">
        <img src="assets/img/restaurant-icons/inventory.jpg" alt="" class="card-img-top">
      </card-body>
      <card-body>
        <h5 class="card-title">Inventory</h5>
      </card-body>
    </card>
  </div>

  <div class="col-6 col-md-4 col-lg-3 mb-3">
    <card>
      <card-body class="pb-0">
        <img src="assets/img/restaurant-icons/Customer-List.jpg" alt="" class="card-img-top">
      </card-body>
      <card-body>
        <h5 class="card-title">Customers List</h5>
      </card-body>
    </card>
  </div>

  <div class="col-6 col-md-4 col-lg-3 mb-3">
    <card>
      <card-body class="pb-0">
        <img src="assets/img/restaurant-icons/Update-Restaurant.jpg" alt="" class="card-img-top">
      </card-body>
      <card-body>
        <h5 class="card-title">Update Restaurant </h5>
      </card-body>
    </card>
  </div>

  <div class="col-6 col-md-4 col-lg-3 mb-3">
    <card>
      <card-body class="pb-0">
        <img src="assets/img/restaurant-icons/Seating.jpg" alt="" class="card-img-top">
      </card-body>
      <card-body>
        <h5 class="card-title">Seating</h5>
      </card-body>
    </card>
  </div>

  <div class="col-6 col-md-4 col-lg-3 mb-3">
    <card>
      <card-body class="pb-0">
        <img src="assets/img/restaurant-icons/Working-Hours.jpg" alt="" class="card-img-top">
      </card-body>
      <card-body>
        <h5 class="card-title">Working Days / Hours</h5>
      </card-body>
    </card>
  </div>

  <div class="col-6 col-md-4 col-lg-3 mb-3">
    <card>
      <card-body class="pb-0">
        <img src="assets/img/restaurant-icons/Staff.jpg" alt="" class="card-img-top">
      </card-body>
      <card-body>
        <h5 class="card-title">Staff Management</h5>
      </card-body>
    </card>
  </div>
</div>