

<div class="card border-0 theme-gray-600 rounded-4 overflow-hidden" >
	<div class="row gx-0">
		<div class="col-xl-7 position-relative">
			<div class="p-5">
			<div class="display-5 fw-bold mb-3">Welcome to Dine Records!</div>
			<div class="fs-13px mb-4 font-monospace">
				Discover the <b class="text-theme d-inline-flex border-bottom border-1 border-gray-500">perfect plan</b> for your online presence. In a digital landscape where your website is the gateway to your brand, we offer an array of meticulously crafted hosting plans to suit every ambition and requirement.
			</div>
			<div class="row mb-n3">
				<div class="col-lg-6">
					
                    <app-add-menu></app-add-menu>

					<div class="d-flex align-items-center mb-3">
						<span class="iconify fs-30px text-theme" data-icon="solar:cpu-bolt-bold-duotone"></span>
						<div class="flex-1 ps-2 fs-13px fw-bold">
							Seating
						</div>
					</div>
					<div class="d-flex align-items-center mb-3">
						<span class="iconify fs-30px text-theme" data-icon="solar:shield-bold-duotone"></span>
						<div class="flex-1 ps-2 fs-13px fw-bold">
							Staff Onboarding
						</div>
					</div>
					<div class="d-flex align-items-center mb-3">
						<span class="iconify fs-30px text-theme" data-icon="solar:headphones-round-sound-bold-duotone"></span>
						<div class="flex-1 ps-2 fs-13px fw-bold">
							Payment Methods
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="d-flex align-items-center mb-3">
						<span class="iconify fs-30px text-theme" data-icon="solar:monitor-smartphone-bold-duotone"></span>
						<div class="flex-1 ps-2 fs-13px fw-bold">
							Discounts
						</div>
					</div>
					<div class="d-flex align-items-center mb-3">
						<span class="iconify fs-30px text-theme" data-icon="solar:mouse-bold-duotone"></span>
						<div class="flex-1 ps-2 fs-13px fw-bold">
							working Days/Working Hours
						</div>
					</div>
					<div class="d-flex align-items-center mb-3">
						<span class="iconify fs-30px text-theme" data-icon="solar:gift-bold-duotone"></span>
						<div class="flex-1 ps-2 fs-13px fw-bold">
							Inventory
						</div>
					</div>
					<div class="d-flex align-items-center mb-3">
						<span class="iconify fs-30px text-theme" data-icon="solar:dollar-bold-duotone"></span>
						<div class="flex-1 ps-2 fs-13px fw-bold">
							Customers List
						</div>
					</div>
				</div>
			</div>
			</div>
		</div>
		<div class="col-xl-5 d-xl-block d-none">
			<div class="h-100 py-5 px-3 ps-0 d-flex align-items-center justify-content-end">
				<img src="../assets/img/pricing/restaurant-management2.jpg" class="w-100" />
			</div>
		</div>
	</div>
</div>



