<div class="d-flex align-items-center mb-3"  *ngIf="!showDiscounts" >
    <div class="ms-auto">
        <a (click)="toggleDiscount()"  class="btn btn-theme">
            <i class="fa fa-plus-circle fa-fw me-1"></i> Create Discount
        </a>
    </div>
    <!-- <div class="ms-md-4 mt-md-0 mt-2 dropdown-toggle">
        <a href="#" data-bs-toggle="dropdown" class="text-body text-decoration-none">More Actions</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <div role="separator" class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a>
        </div>
    </div> -->
</div>

<app-add-discounts *ngIf="showDiscounts" (closeCreateDiscount)="closeCreateDiscount($event)"></app-add-discounts>

<div *ngIf="!showDiscounts">
    <card style="border: none;">
      
        <div class="tab-content p-4">
            <div class="tab-pane fade show active" id="allTab">
                <div class="input-group mb-4">
                    <div class="flex-fill position-relative">
                        <div class="input-group">
                            <input type="text" class="form-control ps-35px" placeholder="Filter Discounts">
                            <div class="input-group-text position-absolute top-0 bottom-0 bg-none border-0"
                                style="z-index: 1020;">
                                <i class="fa fa-search opacity-5"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- BEGIN table -->
                <div class="table-responsive">
                    <table class="table table-hover text-nowrap">
                        <thead>
                            <tr>
                                <th class="border-top-0 pt-0 pb-2"></th>
                                <th class="border-top-0 pt-0 pb-2">Title</th>
                                <th class="border-top-0 pt-0 pb-2">Discount On</th>
                                <th class="border-top-0 pt-0 pb-2">Type</th>
                                <th class="border-top-0 pt-0 pb-2">Add On</th>
                                <th class="border-top-0 pt-0 pb-2">Applicable On</th>
                                <th class="border-top-0 pt-0 pb-2">Amount</th>
                                <th class="border-top-0 pt-0 pb-2">Status</th>
                                <th class="border-top-0 pt-0 pb-2">Order</th>

                                <th class="border-top-0 pt-0 pb-2">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let  discount of discounts || []">
                                <td class="w-10px align-middle">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="product{{discount.id}}">
                                        <label class="form-check-label" for="product{{discount.id}}"></label>
                                    </div>
                                </td>
                                <td class="align-middle">{{discount.discountTitle}}</td>
                                <td class="align-middle">{{discount.discountName}}</td>
                                <td class="align-middle">{{discount.discountType}}</td>
                                <td class="align-middle">{{discount.addOnType}}</td>
                                <td class="align-middle">{{discount.applicableOn}}</td>
                                <td class="align-middle">{{discount.discountAmount}}</td>
                                <td class="py-1 align-middle">
                                    <span
                                        class="badge bg-teal text-teal-800 bg-opacity-25 px-2 pt-5px pb-5px rounded fs-12px d-inline-flex align-items-center" *ngIf="discount.status">
                                        <i class="fa fa-circle text-teal fs-9px fa-fw me-5px"></i> Active
                                    </span>
                                    <span class="badge bg-orange bg-opacity-20 text-orange px-2 pt-5px pb-5px rounded fs-12px d-inline-flex align-items-center" *ngIf="!discount.status">
                                        <i class="fa fa-circle fs-9px fa-fw me-5px"></i> Inactive
                                    </span>

                                </td>
                                <td class="align-middle">{{discount.orde}}</td>
                                <td class="align-middle">
                                    <div class="me-4 mb-md-0 mb-2" (click)="onEdit(addon)">
                                        <!-- <a href="#" class="text-decoration-none text-body d-flex align-items-center"> -->
                                        <i class="fa fa-pen me-2 text-body text-opacity-50 my-n1"></i> Edit
                                        <!-- </a> -->
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- END table -->

                <div class="d-md-flex align-items-center">

                </div>
            </div>
        </div>
    </card>
</div>