/* You can add global styles to this file, and also import other style files */
@import '~@fortawesome/fontawesome-free/css/all.css';
@import '~bootstrap-icons/font/bootstrap-icons.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap');


/* .text-center {
    text-align: center !important
}

.rounded-4 {
    border-radius: var(--bs-border-radius-xl) !important
}

.d-flex {
    display: flex !important
}

.flex-column {
    flex-direction: column !important
}

.gap-3 {
    gap: 1rem !important
}

.align-items-center {
    align-items: center !important
}

.justify-content-between {
    justify-content: space-between !important
} */